*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project_proposal/CS446projProposal.aux
project_proposal/CS446projProposal.dvi
project_proposal/CS446projProposal.out
project_proposal/CS446projProposal.pdf
project_proposal/CS446projProposal.bbl
project_proposal/CS446projProposal.blg

# Scala-IDE specific
.scala_dependencies
.worksheet

# TEXSHOP
*.aux
*.out
*.synctex.gz
CS446projProposal.pdf
